*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("mountain.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center ;
}
.logo img{
    float: left;
    width: 100px;
    height: auto;
    padding-left: 1px;
    border: 2px solid transparent;
    margin-top: 4px;
    margin-left: 20px;
    /* background-color: #4c9bbb; */
}
.active a{
    background-color: #4c9bbb;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 20px;
    padding-right: 20px;
}
ul li{
    display: inline;
}
ul li a{
    text-decoration: none;
    padding: 5px 20px;
    border: 2px solid transparent;
    color: black;
    transition: 0.6s ease;
}
li a:hover{
    background-color: #4c9bbb;
    color: black;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
     color: whitesmoke;
     font-size: 50px;
     font-weight: bolder;
     display: inline;   
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #4c9bbb;
    padding: 10px 30px;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #4c9bbb;
    color: black;
}

@media screen and (max-width: 920px)
{
    .title h1{
        font-size: 30px;  
   }
   .button{
       top: 55%;
   }
   .btn{
       font-size: 10px;
       padding: 5px 20px;
   }
}

@media screen and (max-width: 615px)
{
    ul{
        display: block;
        padding: 3px 14px;
    }
    ul li{
        padding: none;
    }
}